<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>用户隐私协议分析</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

  <!-- Custom 2styles for this template -->
  <link th:href="@{/css/landing-page.min.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar bg-light static-top">
    <div class="container"  th:if="${#strings.isEmpty(isLogin)}">
      <a class="navbar-brand" th:href="@{#}">Privacy Agreement Analysis</p>
      <a class="btn btn-primary" th:href="@{/login.html}">Sign In</a>
    </div>
      <div class="container" th:if="${not #strings.isEmpty(isLogin)}">
          <a class="navbar-brand" th:href="@{#}">Privacy Agreement Analysis</p>
              <a class="btn btn-primary"  th:text="${userName}" th:href="@{/main.html}"></a>
      </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">DEMO</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		  <form th:action="@{/text}" method="post" id='usrform' >
		  <div class="input-group">
		    <textarea class="form-control" style="resize: none;" placeholder="Paste the privacy agreement here" name="protocol" rows="4"></textarea>
		    <div class="input-group-append">
		  	<input class="btn btn-primary" type="submit" value="Submit">
		    </div>
		  </div>
		  </form>
        </div>
      </div>
    </div>
  </header>

  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
